body {
  font-family: Arial, sans-serif;
    background-image: url('static/neekit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.announcement-item strong {
  color: #007bff;
}

.welcome-message {
  font-size: 24px;
  color: #31dc0b;
  margin-bottom: 20px;
}


.announcement-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

.announcement-item {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.announcement-item strong {
  color: #007bff; /* Blue color for announcement titles */
}
table {
  width: 100%;
}

table th,
table td {
  text-align: center;
}

.mt-2 {
  margin-top: 10px;
}



.registration-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee9e9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}


.register-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #0056b3;
}





.notification-icon-container {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  font-size:20px;
}
.notification-icon.active {
   color: #ff0000;
   font-size: 24px;
 }



.notification-icon.active + .announcement-container {
  display: block;
}


.notification-count {
  position: absolute;
  top: -8px;
  right: -19px;
  background-color: #f30505;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 50%;
}





.countdown-container {
  border-bottom:#d5d5d5 1px solid;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  margin-top: 20px;
}
.saleBoard{
  color: orange;
  font-size: 14px;
}
.saleEnd{
  font-size: 14px;
  padding-left: 50px;
}
/* Countdown Timer */
.countdown {
  display: flex;
  align-items: center;
}

/* Countdown Timer Item (Days, Hours, Minutes, Seconds) */
.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.countdown-value {
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: orange;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 60px;
}

.countdown-label {
  font-size: 16px;
  font-weight: bold;
  color: #777;
  margin-top: 10px;
}


.rainbow-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
@keyframes rainbow {
  0% {
    color: #ff0000; /* Red */
  }
  16.67% {
    color: #ff9900; /* Orange */
  }
  33.33% {
    color: #ffff00; /* Yellow */
  }
  50% {
    color: #33cc33; /* Green */
  }
  66.67% {
    color: #3399ff; /* Blue */
  }
  83.33% {
    color: #9900cc; /* Purple */
  }
  100% {
    color: #ff0000; /* Back to Red */
  }
}

.countdown-container {
  animation: rainbow 0.7s linear infinite;
}


.discount-text {
  color: green;
  font-weight: bold;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('static/neekit.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

